[tool.poetry]
name = "paginx"
version = "0.1.28"
description = "An assistant helping you to index webpages into structured datasets."
authors = ["Ben Selleslagh <ben@dataframe.be>"]
license = "MIT"
readme = "README.md"
packages = [
    { include = "paginx", from = "src"},
]

[tool.poetry.dependencies]
python = "^3.12"
langchain = "^0.1.287"
bs4 = "^0.0.2"
validators = "^0.28.1"
trafilatura = "^1.9.0"
tiktoken = "^0.6.0"
replicate = "^0.25.2"
langchain-cohere = "^0.1.28"
langchain-postgres = "^0.0.3"
psycopg-binary = "^3.1.18"
fake-useragent = "^1.5.1"
langchain-openai = "^0.1.28"

[tool.poetry.group.dev.dependencies]
ipykernel = "^6.29.4"
ipywidgets = "^8.1.2"
python-dotenv = "^1.0.1"
mlx = "^0.12.2"
mlx-lm = "^0.12.1"
transformers = "^4.40.1"
torch = "^2.3.0"
pandas = "^2.2.2"
bump2version = "^1.0.1"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
